/* ContactModal.css */

.modal {
    /* モーダルの基本スタイル */
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 600px;
    background-color: rgba(248, 243, 243, 0.9);
    z-index: 1000;
    border: 2px solid;
    transform: translate(-50%, -50%);
    /* その他のスタイル */
}

@media screen and (max-width: 430px) {
    .App {
      /* スマートフォン向けのスタイル */
      width: 100%;
      box-sizing: border-box;
    }
  }

.modal.open {
    display: block;
}

.modal-content .modalH2 {
    color: #00000095;
    font-family: "Arial", "メイリオ";
    top: 6%;
}

.modal-content{
    background-color: aliceblue;
}

.modal-content .modalName {
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid;
    top: 24%;
    left: 50%;
}

.modal-content .modalEmail {
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid;
    top: 36%;
    left: 50%;
}

.modal-content .modalcomment {
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid;
    top: 48%;
    left: 50%;
}

.modal-content .modalOnSubmit {
    position: absolute;
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.modal-content .modalOnClose {
    position: absolute;
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.modal-content .confirm {
    color: #00000095;
    font-family: "Arial", "メイリオ";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content .modalOnSubmit {
    background-color: white;
    color: #00000095;
    padding: 10px 20px;
    border: none;
    font-family: "Arial", "メイリオ";
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.modal-content .modalOnSubmit:hover {
    background-color: rgba(173, 216, 230, 0.798); /* ホバー時の背景色を変更 */
    color: white;
    font-weight: bold;
    /* その他のホバー時のスタイル変更 */
}

.modal-content .modalOnSubmit:active {
    transform: scale(0.90); /* ボタンをわずかに縮小 */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); /* 影の変更 */
    color: aliceblue;
    transform: translate(-50%, -50%);
}

.modal-content .modalOnSubmit {
    transition: all 0.3s ease; /* トランジションの適用 */
}

.modal-content .modalOnClose {
    background-color: white;
    color: #00000095;
    padding: 10px 20px;
    border: none;
    font-family: "Arial", "メイリオ";
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.modal-content .modalOnClose:hover {
    background-color: rgba(230, 173, 215, 0.798); /* ホバー時の背景色を変更 */
    color: white;
    font-weight: bold;
    /* その他のホバー時のスタイル変更 */
}

.modal-content .modalOnClose:active {
    transform: scale(0.90); /* ボタンをわずかに縮小 */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); /* 影の変更 */
    color: aliceblue;
    transform: translate(-50%, -50%);
}

.modal-content .modalOnClose {
    transition: all 0.3s ease; /* トランジションの適用 */
}