/* Portfolio.css */
.portfolio {
    position: relative;
}

.portfolio img {
    width: 100%;
    height: 100vh;
}

.portfolio h2 {
    position: absolute;
    font-size: 24px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 12%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
}

.portfolio1 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 28%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio2 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 53%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio3 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 75%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}