/* Portfolio.css */
.portfolio {
    position: relative;
}

.portfolio img {
    width: 100%;
    height: 400vh;
}

.portfolio h2 {
    position: absolute;
    font-size: 24px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 10%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
}

.portfolio1 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 20%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio2 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 30%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio3 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 40%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio4 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 50%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio5 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 60%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio6 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 70%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio7 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 80%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.portfolio8 {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 90%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}
