/* Profile.css */
.aboutMe {
    position: relative;
    height: 100vh;
}

.aboutMe img {
    position: absolute;
    width: 100px;
    top: 32%; /* 要素の中央に配置 */
    left: 15%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.aboutMe h2{
    position: absolute;
    font-size: 30px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 30%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
}

.aboutMe p {
    position: absolute;
    text-align: left;
    color: #00000095;
    width: 80%;
    top: 55%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.github-container {
    position: absolute;
    font-size: 24px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 80%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.qiita-container {
    position: absolute;
    font-size: 24px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 87%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}