/* Skill.css */
.Skill {
    position: relative;
    height: 200vh;
}


.Skill h2 {
    position: absolute;
    font-size: 26px;
    width: 100%;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 5%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
}

.Skill p {
    width: 80%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 13%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
    line-height: 1.8;
}

.Skill .radarChart1 {
    position: absolute;
    max-width: 480px;
    width: 80%;
    top: 34%; /* 要素の中央に配置 */
    left: 49.5%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.Skill .radarChart2 {
    position: absolute;
    max-width: 450px;
    width: 80%;
    top: 73%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.Skill .levelList1 {
    position: absolute;
    width: 80%;
    top: 90%; /* 要素の中央に配置 */
    left: 20%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.Skill .grid-container1 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 30%;
    margin: 0;
    padding: 0;
    top: 51%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.Skill .grid-container2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 30%;
    margin: 0;
    padding: 0;
    top: 91%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.level-list {
    box-sizing: border-box;
    list-style: none;
    border: 1px solid;
    margin: 0 auto; 
    padding: 0;
    width: 60%;
    text-align: left;
}

.level-list li {
    font-size: 10px;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    background-color: #fbfbfb; /* 背景色 */
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media screen and (max-width: 600px) {
    .Skill .grid-container1 {
        width: 50%;
    }

    .Skill .grid-container2 {
        width: 50%;
    }
}