/* Top.css */
.topcontainer {
    margin: 0;
    padding: 0;
}

.sky {
    margin: 0;
    padding: 0;
}


.backboard {
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.icon {
    position: absolute;
    max-width: 200px;
    width: 50%;
    z-index: 100;
    top: 85%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
}

.sky h1 {
    position: absolute;
    font-size: 26px;
    width: 100%;
    font-family: "Arial", "メイリオ";
    color: #00000095;
    top: 25%; /* 要素の中央に配置 */
    left: 50%; /* 要素の中央に配置 */
    transform: translate(-50%, -50%); /* 中央からのずれを修正 */
    z-index: 10; 
}
